
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register User</title>
</head>
<body>
<form action="registerUser" method="post">
<pre>
<h2>User Registration:</h2>
First Name:<input type="text" name="firstName"/>
Last Name:<input type="text" name="lastName"/>
Email:<input type="text" name="email"/>
password:<input type="password" name="password"/>
Confirm Password:<input type="password" name="confirmPassword"/>
<input type="submit" value="register"/>
</pre>
</form>
</body>
</html>